{% load static %}
<html>
    <head>
        <title>归纳演绎</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
{#        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">#}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block style %}
        {% endblock %}

    </head>

    <body>
        <header class="fixed-top">
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <nav class="nav">
                            <a class="logo" href="/">归纳演绎</a>
                            <a class="index" href="/">首页</a>

                            {% for category_nav in  NAVIGATION_CATEGORY %}
                            <a class="link" href="{% url 'category' category_nav.id %}">{{ category_nav }}</a>
                            {% endfor %}
                        </nav>
                    </div>
                    <div class="col-4">
                        <form action='/' method="GET" class="input-group search">
                            <input type="text" name="query" class="form-control" placeholder="Search for..." aria-label="Search for..." width="50">
                            <span class="input-group-btn">
                                <input type="submit" class="btn btn-secondary" value="Go!"/>
                            </span>
                        </form>
                    </div>
                </div>
            </div>
        </header>

        <div class="container main">
            <div class="row">
                <div class="col-8 left-side">
{#                    <div class="inner">#}
                        {% block content %}
                        {% endblock %}
{#                    </div>#}
                </div>

                <div class="col-4">
                    <div class="container right-side">
                        {% for sidebar in SIDEBAR %}
                            <div>

                                {% if sidebar.display_type == 1 %}
                        <aside class="sidebar">
                                    <div class="sidebar-title">
                                        {{ sidebar.title }}
                                    </div>
                                    {% autoescape off %}
                                    {{ sidebar.content }}
                                    {% endautoescape %}
                        </aside>

                                {% elif sidebar.display_type == 2 %}
                        <aside class="sidebar">
                                    <div class="sidebar-title">
                                        {{ sidebar.title }}
                                    </div>
                                    <nav class="nav flex-column">
                                        {% for new_post in NEW_POST %}
                                        <a class="nav-link" href="{% url 'detail' new_post.id %}">{{ new_post.title }}</a>
                                            {% endfor %}
                                    </nav>

                        </aside>

                                {% elif sidebar.display_type == 3 %}
                        <aside class="sidebar">
                                    <div class="sidebar-title">
                                        {{ sidebar.title }}
                                    </div>
                                    <nav class="nav flex-column">
                                        {% for hot_post in HOT_POST %}
                                        <a class="nav-link" href="{% url 'detail' hot_post.id %}">{{ hot_post.title }}</a>
                                            {% endfor %}
                                    </nav>
                        </aside>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="widget">
                            <a class="widget-a-title" href="{% url 'links'  %}"><h4 class="title">友链</h4></a>
                             <nav class="nav">
                                {% for link in LINKS %}
                                    <a class="nav-link" href="{{ link.href }}" title="{{ link.title }}">{{ link.title }}</a>
                                {% endfor %}
                            </nav>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="widget">
                            <h4 class="title">其他分类</h4>
                            <nav class="nav">
                                {% for category_no_nav in NO_NAVIGATION_CATEGORY %}
                                <a class="nav-link" href={% url 'category' category_no_nav.id %}>{{ category_no_nav }}</a>
                                {% endfor %}
                            </nav>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="widget">
                            <h4 class="title">声明</h4>
                        <div class="footer-explain">
                            <p>基于Nginx+Gunicorn+Supervisord+ Django1.11+ Python2.7构建</p>
                            <p>
                                <a href="/api"><b>API Root</b></a>
                            </p>
                            <strong>Copyright © 2018 <a href="www.boldman.top">boldman.top</a></strong>
                        </div>
                        </div>
                    </div>
                </div>
            </div>

        {% block javascript %}
        {% endblock %}
        </footer>

    </body>
</html>