{% load static %}
<html>
    <head>
        <title>归纳演绎</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">


        {% block style %}
        {% endblock %}

    </head>

    <body>
        <header class="fixed-top">
            <div class="container">
                <div class="row">
                    <div class="col-9">
                        <nav class="nav">
                            <a class="logo" href="/">归纳演绎</a>
                            <a class="index" href="/">首页</a>

                            {% for category_nav in  NAVIGATION_CATEGORY %}
                            <a class="link" href="{% url 'category' category_nav.id %}">{{ category_nav }}</a>
                            {% endfor %}
                        </nav>
                    </div>
                    <div class="col-3">
                        <form action='/' method="GET" class="input-group search">
                            <input type="text" name="query" class="form-control" placeholder="Search for..." aria-label="Search for...">
                            <span class="input-group-btn">
                                <input type="submit" class="btn btn-secondary" value="Go!"/>
                            </span>
                        </form>
                    </div>
                </div>
            </div>
        </header>

        <div class="container main">
            <div class="row">
                <div class="col-9 left-side">
                    <div class="inner">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>

                <div class="col-3">
                    <div class="container right-side">
                        {% for sidebar in SIDEBAR %}
                        <div class="sidebar">
                            <div class="sidebar-title">
                                {{ sidebar.title }}
                            </div>
                            <div class="sidebar-content">
                                {% if sidebar.display_type == 1 %}
                                {% autoescape off %}
                                {{ sidebar.content }}
                                {% endautoescape %}

                                {% elif sidebar.display_type == 2 %}
                                {% for new_post in NEW_POST %}
                                <ul>
                                    <a href="{% url 'detail' new_post.id %}">{{ new_post.title }}</a>
                                </ul>
                                {% endfor %}

                                {% elif sidebar.display_type == 3 %}
                                {% for hot_post in HOT_POST %}
                                <a href="{% url 'detail' hot_post.id %}">{{ hot_post.title }}</a>
                                {% endfor %}

                                {% elif sidebar.display_type == 4 %}
                                {% for new_comment in NEW_COMMENT %}
                                <a href="{{ new_comment.target }}">{{ new_comment.content }}</a>
                                {% endfor %}

                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container">
                <hr/>
                <nav class="nav category">
                    {% for category_no_nav in NO_NAVIGATION_CATEGORY %}
                    <a href={% url 'category' category_no_nav.id %}>{{ category_no_nav }}</a>
                     {% endfor %}
                </nav>
            </div>
            <div class="container power">
                <span>Powered by Django1.11.10</p>
            </div>

        {% block javascript %}
        {% endblock %}
        </footer>

    </body>
</html>
