{% extends "./base.html" %}
{% block content %}
    {% if query %}
        <div>
    您搜索的关键词: {{ query }} <br>结果如下：
        </div>

        <hr/>
    {% endif %}

    {% if POST %}
    {% for post in POST %}
        <div class="post-element">
            <div>
            <h3 class="post-element-title">
                <a href="{% url 'detail' post.id %}">{{ post.title }} </a>
            </h3>
            </div>
            <div class="post-element-metainfo">
                <span class="post-meta-panel">

                        <a class="post-element-metainfo" href="{% url 'category' post.category_id %}">
                            <i class="fa fa-tag">{{ post.category.name }}</i>
                        </a>

                </span>

                <span class="post-meta-panel">
                        <a class="post-element-metainfo" href="{% url 'author' post.owner_id %}">
                            <i class="fa fa-user">{{ post.owner }}</i>
                        </a>
                </span>

                <span class="post-meta-panel">
                        <time datetime="{{ post.created_time }}" title="{{ post.created_time }}">
                            <i class="fa fa-calendar-alt">{{ post.created_time | date:"Y年m月j日" }}</i>
                        </time>
                </span>

                <span class="post-meta-panel">
                <i class="fa fa-eye">
                    {{ post.pv }}, {{ post.uv }}
                </i>
                </span>
            </div>
            <hr style="margin-bottom: 0px">

            <div class="post-element-desc">
                <strong>摘要:</strong>
                <p>
                {{ post.describe }}
                </p>
            </div>

            <a class="btn btn-postread" href="{% url 'detail' post.id %}">阅读全文</a>
        </div>
{% endfor %}

<nav aria-label="Page navigation example">
  <ul class="pagination">
    {% if page_obj.has_previous %}
        {% if query %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}&query={{ query }}">上一页</a>
        {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">上一页</a>
        {% endif %}
    {% endif %}

    {% if page_obj.has_next %}
    {% if query %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}&query={{ query }}">下一页</a>
    {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">下一页</a>
    {% endif %}
    {% endif %}
    Page {{ page_obj.number }} of {{ paginator.num_pages }}.
    {% else %}
    Empty!!
    {% endif %}
  </ul>
</nav>
{% endblock %}
