<h1>张乾的博客</h1>
<li><a href="{% url 'index' %}">首页</a></li>
<hr>
<ul>
    {% if POST %}
        title:<h3>{{ POST.title }}</h3>
        <br>
        owner: {{ POST.owner }}
        <br>
        describe: {{ POST.content }}
        <hr>
    {% endif %}
    <hr>

    <hr>
    <h4>导航标签:</h4><br>
    {% for category_nav in  NAVIGATION_CATEGORY %}
    <ul><a href="{% url 'category' category_nav.id %}">{{ category_nav }}</a></ul>
    {% endfor %}
    <h4>非导航标签:</h4><br>
    {% for category_no_nav in NO_NAVIGATION_CATEGORY %}
    <ul>{{ category_no_nav }}</ul>
    {% endfor %}

    <hr>

    <h3>侧边栏:</h3>
    {% for sidebar in SIDEBAR %}
        {% if sidebar.display_type == 1 %}
            <h4>HTML:</h4>
            {% autoescape off %}
            {{ sidebar.title }}
            {{ sidebar.content }}
            {% endautoescape %}
        {% elif sidebar.display_type == 2 %}
            <h4>最新文章:</h4>
            {% for new_post in NEW_POST %}
            <a href="{% url 'detail' new_post.id %}">{{ new_post.title }}</a>
            {% endfor %}
        {% elif sidebar.display_type == 3 %}
            <h4>最热文章:</h4>
            {% for hot_post in HOT_POST %}
            <a href="{% url 'detail' hot_post.id %}">{{ hot_post.title }}</a>
            {% endfor %}
        {% elif sidebar.display_type == 4 %}
            <h4>最新评论:</h4>
            {% for hot_comment in HOT_COMMENT %}
            <a href="{% url 'comment' hot_comment.id %}">{{ hot_comment.content }}</a>
            {% endfor %}
        {% endif %}
    {% endfor %}

</ul>
